<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
       "-//Hibernate/Hibernate Configuration DTD//EN"
       "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/fsjjjr?useUnicode=true&amp;characterEncoding=utf-8
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="current_session_context_class">thread</property>

		<!-- 指定映射文件的路径 -->
		<mapping resource="com/fsj/entity/Action.hbm.xml" />
		<mapping resource="com/fsj/entity/Actiongroup.hbm.xml" />
		<mapping resource="com/fsj/entity/Custom.hbm.xml" />
		<mapping resource="com/fsj/entity/Department.hbm.xml" />
		<mapping resource="com/fsj/entity/House.hbm.xml" />
		<mapping resource="com/fsj/entity/Img.hbm.xml" />
		<mapping resource="com/fsj/entity/Managergroup.hbm.xml" />
		<mapping resource="com/fsj/entity/Message.hbm.xml" />
		<mapping resource="com/fsj/entity/Pricetrend.hbm.xml" />
		<mapping resource="com/fsj/entity/Recommended.hbm.xml" />
		<mapping resource="com/fsj/entity/Schedule.hbm.xml" />
		<mapping resource="com/fsj/entity/Schedulestate.hbm.xml" />
		<mapping resource="com/fsj/entity/Users.hbm.xml" />
	</session-factory>
</hibernate-configuration>